.container
{
    width: 1200px;
}
.incorrect{
    visibility: hidden;
    color: red;
}
#services{
    white-space: pre;
}
td{
    border: 1px solid black;
    padding: 5px;
}
.row{

}
.right_column{
    padding: 20px;
}
#searchform div{
    margin-bottom: 20px;
}